/* Genereal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

*::selection {
    background: #2e7903;
    color: #044414;
}

.section {
    width: 1200px;
    margin: 0 auto;
}

section {
    padding: 70px 17%;
}

.text-dark {
    color: #3d12fa;
}

/* Nav Styles */
.flex-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
    
#nav {
    margin-top: 45px;
    background: #d7fc06;
    border-radius: 20px 20px 0 0;
    padding: 10px 10px;
}

#name h1 {
    justify-content: center;
    font-size: 40px;
    color: #0c0c0c;
}

#nav figure img {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border: 3px solid rgb(253, 253, 253);
    box-shadow: 0 0 100px #f7f7fa84;
}

/* Hero Section Styles */
#header {
    background: linear-gradient(210deg, rgb(247, 100, 3) 0%, rgb(182, 141, 28) 100%);
    border-radius: 0 0 20px 20px;
    padding: 10px 10px;
}

.header-title h1 {
    font-size: 2.8rem;
    color: #0aeb28;
}

.header-title p {
    /* color: #1c1e24; */
    color: #050505;
    margin-top: 15px;
    margin-bottom: 30px;
    margin: 15px 0 30px 0;
    text-align: justify;
}

.header-description {
    width: 100%;
}

.flex-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #1e0242;
}

.box {
    margin-top: 25px;
}

.box-per {
    font-weight: 600;
    color: #0c0c0c;
}

.skillProgressBase {
    height: 8px;
    background-color: #fcfdfd;
    margin-top: 6px;
    border-radius: 20px;
}

.skillProgressBase .skillProgress {
    height: 8px;
    background-color: #3f0247;
    border-radius: 10px;
    transition: 0.2s;
}

.width90 {
    width: 50%;
}

.width85 {
    width: 50%;
}

.width80 {
    width: 0%;
}

.width75 {
    width: 0%;
}

.width25 {
    width: 0%;
}

/* Res */
@media (max-width: 720px) {
    .section {
        width: 575px;
    }

    section {
        padding: 60px 12%;
    }

    #nav figure img {
        display: none;
    }

    #name {
        padding: 18px 0;
    }

    .flex-nav {
        justify-content: center;
    }

    #nav {
        margin-top: 200px;
    }
    
}
/* End Res */